.u-section-1 .u-sheet-1 {
  min-height: 1167px;
}

.u-section-1 .u-shape-1 {
  width: 308px;
  height: 250px;
  margin: -73px auto 0 -208px;
}

.u-section-1 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: -220px -167px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 38px;
  height: 41px;
  margin: -151px 47px 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 919px;
  height: 143px;
  margin: -140px 85px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-family: "Architects Daughter";
  margin: -74px 169px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-family: "Architects Daughter";
  margin: -52px auto 0 284px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-shape-5 {
  width: 38px;
  height: 41px;
  margin: 138px 463px 0 auto;
}

.u-section-1 .u-shape-6 {
  width: 61px;
  height: 61px;
  margin: -51px 451px 0 auto;
}

.u-section-1 .u-shape-7 {
  width: 61px;
  height: 61px;
  margin: -51px auto 0 183px;
}

.u-section-1 .u-shape-8 {
  width: 38px;
  height: 41px;
  margin: -51px auto 0 195px;
}

.u-section-1 .u-shape-9 {
  width: 38px;
  height: 41px;
  margin: 13px 100px 0 auto;
}

.u-section-1 .u-shape-10 {
  width: 61px;
  height: 61px;
  margin: -51px 89px 0 auto;
}

.u-section-1 .u-shape-11 {
  width: 61px;
  height: 61px;
  margin: -13px auto 0 453px;
}

.u-section-1 .u-shape-12 {
  width: 38px;
  height: 41px;
  margin: -51px auto 0 464px;
}

.u-section-1 .u-shape-13 {
  width: 767px;
  height: 317px;
  margin: 36px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 4.5rem;
  font-family: "Architects Daughter";
  margin: -191px auto 0;
}

.u-section-1 .u-shape-14 {
  width: 38px;
  height: 41px;
  margin: -226px 218px 0 auto;
}

.u-section-1 .u-text-4 {
  font-family: "Architects Daughter";
  margin: 156px 291px 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 4.5rem;
  font-family: "Architects Daughter";
  margin: -218px auto 0;
}

.u-section-1 .u-shape-15 {
  width: 38px;
  height: 41px;
  margin: -113px auto 0 43px;
}

.u-section-1 .u-shape-16 {
  width: 38px;
  height: 41px;
  margin: 159px 117px 0 auto;
}

.u-section-1 .u-shape-17 {
  width: 61px;
  height: 61px;
  margin: -51px 106px 0 auto;
}

.u-section-1 .u-shape-18 {
  width: 38px;
  height: 41px;
  margin: 23px auto 0 128px;
}

.u-section-1 .u-shape-19 {
  width: 61px;
  height: 61px;
  margin: -51px auto 0 116px;
}

.u-section-1 .u-shape-20 {
  width: 38px;
  height: 41px;
  margin: 21px 535px 0 auto;
}

.u-section-1 .u-shape-21 {
  width: 61px;
  height: 61px;
  margin: -51px 523px 0 auto;
}

.u-section-1 .u-shape-22 {
  width: 38px;
  height: 41px;
  margin: -19px auto 0 284px;
}

.u-section-1 .u-shape-23 {
  width: 61px;
  height: 61px;
  margin: -51px auto 0 273px;
}

.u-section-1 .u-shape-24 {
  width: 38px;
  height: 41px;
  margin: -22px -13px 0 auto;
}

.u-section-1 .u-shape-25 {
  width: 61px;
  height: 61px;
  margin: -51px -25px 0 auto;
}

.u-section-1 .u-shape-26 {
  width: 38px;
  height: 41px;
  margin: 15px auto 0 155px;
}

.u-section-1 .u-shape-27 {
  width: 61px;
  height: 61px;
  margin: -51px auto 0 143px;
}

.u-section-1 .u-shape-28 {
  width: 38px;
  height: 41px;
  margin: 27px 570px 0 auto;
}

.u-section-1 .u-shape-29 {
  width: 61px;
  height: 61px;
  margin: -51px 559px 0 auto;
}

.u-section-1 .u-shape-30 {
  width: 363px;
  height: 278px;
  margin: -44px -181px 0 auto;
}

.u-section-1 .u-shape-31 {
  width: 426px;
  height: 238px;
  margin: -258px auto -80px -213px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: -61px;
    margin-left: -201px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -278px;
    margin-right: -164px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -41px;
    margin-right: 73px;
  }

  .u-section-1 .u-shape-4 {
    width: 695px;
    margin-top: -192px;
    margin-right: 110px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -76px;
    margin-right: 190px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -38px;
    margin-left: 291px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 126px;
    margin-right: 456px;
  }

  .u-section-1 .u-shape-6 {
    margin-right: 444px;
  }

  .u-section-1 .u-shape-7 {
    margin-top: 79px;
    margin-left: 162px;
  }

  .u-section-1 .u-shape-8 {
    margin-left: 174px;
  }

  .u-section-1 .u-shape-9 {
    margin-top: -117px;
    margin-right: 93px;
  }

  .u-section-1 .u-shape-10 {
    margin-right: 82px;
  }

  .u-section-1 .u-shape-11 {
    margin-top: 287px;
    margin-left: 101px;
  }

  .u-section-1 .u-shape-12 {
    margin-top: -73px;
    margin-left: 471px;
  }

  .u-section-1 .u-shape-13 {
    margin-top: -209px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -201px;
  }

  .u-section-1 .u-shape-14 {
    margin-top: 108px;
    margin-right: 190px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -171px;
    margin-right: 182px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -192px;
  }

  .u-section-1 .u-shape-15 {
    margin-top: 738px;
    margin-left: 50px;
  }

  .u-section-1 .u-shape-16 {
    margin-top: -278px;
    margin-right: 110px;
  }

  .u-section-1 .u-shape-17 {
    margin-top: -29px;
    margin-right: 86px;
    margin-left: 793px;
  }

  .u-section-1 .u-shape-18 {
    margin-top: -111px;
    margin-left: 135px;
  }

  .u-section-1 .u-shape-19 {
    margin-left: 123px;
  }

  .u-section-1 .u-shape-20 {
    margin-top: -279px;
    margin-right: 528px;
  }

  .u-section-1 .u-shape-21 {
    margin-right: auto;
    margin-left: 362px;
  }

  .u-section-1 .u-shape-22 {
    margin-top: -82px;
    margin-left: 38px;
  }

  .u-section-1 .u-shape-23 {
    margin-left: 27px;
  }

  .u-section-1 .u-shape-24 {
    margin-top: 103px;
    margin-right: -20px;
  }

  .u-section-1 .u-shape-25 {
    margin-top: -231px;
    margin-right: 179px;
  }

  .u-section-1 .u-shape-26 {
    margin-top: 96px;
  }

  .u-section-1 .u-shape-28 {
    margin-top: 77px;
    margin-right: 364px;
  }

  .u-section-1 .u-shape-29 {
    margin-right: 353px;
  }

  .u-section-1 .u-shape-30 {
    margin-top: -171px;
  }

  .u-section-1 .u-shape-31 {
    margin-top: -186px;
    margin-bottom: -81px;
    margin-left: -253px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-4 {
    width: 540px;
    height: 177px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -65px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -82px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 128px;
  }

  .u-section-1 .u-shape-11 {
    margin-top: 645px;
    margin-right: 299px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-12 {
    margin-top: -431px;
  }

  .u-section-1 .u-shape-13 {
    margin-top: -212px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.75rem;
    margin-top: -220px;
    margin-right: 58px;
  }

  .u-section-1 .u-shape-14 {
    margin-top: 130px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -176px;
    margin-right: 93px;
  }

  .u-section-1 .u-text-5 {
    font-size: 3.75rem;
    margin-top: -186px;
  }

  .u-section-1 .u-shape-15 {
    margin-top: 506px;
  }

  .u-section-1 .u-shape-17 {
    margin-right: 106px;
    margin-left: 566px;
  }

  .u-section-1 .u-shape-20 {
    margin-top: -91px;
    margin-right: 36px;
  }

  .u-section-1 .u-shape-21 {
    margin-right: 25px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-22 {
    margin-top: -407px;
    margin-left: 82px;
  }

  .u-section-1 .u-shape-23 {
    margin-left: 71px;
  }

  .u-section-1 .u-shape-24 {
    margin-top: 511px;
    margin-right: auto;
    margin-left: 201px;
  }

  .u-section-1 .u-shape-25 {
    margin-top: -502px;
  }

  .u-section-1 .u-shape-26 {
    margin-top: 390px;
    margin-right: 311px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-27 {
    margin-top: -41px;
    margin-left: 190px;
  }

  .u-section-1 .u-shape-28 {
    margin-top: -227px;
  }

  .u-section-1 .u-shape-30 {
    margin-top: 127px;
    margin-right: -164px;
  }

  .u-section-1 .u-shape-31 {
    margin-top: -262px;
    margin-bottom: -75px;
    margin-left: -263px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1219px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 18px;
    margin-right: 84px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -251px;
  }

  .u-section-1 .u-shape-12 {
    margin-top: -841px;
    margin-left: 305px;
  }

  .u-section-1 .u-shape-13 {
    margin-top: 224px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.333333333333333rem;
    margin-top: -194px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-shape-14 {
    margin-top: -312px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 254px;
    margin-right: 44px;
  }

  .u-section-1 .u-text-5 {
    font-size: 3.333333333333333rem;
    margin-top: -200px;
  }

  .u-section-1 .u-shape-15 {
    margin-top: 456px;
  }

  .u-section-1 .u-shape-16 {
    margin-top: -777px;
    margin-right: auto;
    margin-left: 226px;
  }

  .u-section-1 .u-shape-17 {
    margin-top: 470px;
    margin-left: 386px;
  }

  .u-section-1 .u-shape-18 {
    margin-top: 128px;
    margin-left: 192px;
  }

  .u-section-1 .u-shape-19 {
    margin-top: 16px;
    margin-left: 222px;
  }

  .u-section-1 .u-shape-20 {
    margin-top: -897px;
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-1 .u-shape-21 {
    margin-right: auto;
    margin-left: 288px;
  }

  .u-section-1 .u-shape-22 {
    margin-top: 395px;
    margin-left: 11px;
  }

  .u-section-1 .u-shape-23 {
    margin-left: 0;
  }

  .u-section-1 .u-shape-24 {
    margin-top: 349px;
    margin-left: 232px;
  }

  .u-section-1 .u-shape-25 {
    margin-top: -915px;
    margin-right: 73px;
  }

  .u-section-1 .u-shape-26 {
    margin-top: 664px;
    margin-right: 93px;
  }

  .u-section-1 .u-shape-27 {
    margin-top: -51px;
    margin-right: 82px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-28 {
    margin-top: -41px;
    margin-right: 431px;
  }

  .u-section-1 .u-shape-29 {
    margin-right: 420px;
  }

  .u-section-1 .u-shape-30 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1306px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 28px;
    margin-left: -581px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: -388px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -136px;
    margin-right: 117px;
  }

  .u-section-1 .u-shape-4 {
    width: 604px;
    height: 286px;
    margin-top: -301px;
    margin-left: -132px;
    margin-right: -132px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -130px;
    margin-right: 117px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -53px;
    margin-right: 46px;
  }

  .u-section-1 .u-shape-5 {
    width: 35px;
    height: 38px;
    margin-top: 177px;
    margin-right: auto;
    margin-left: -67px;
  }

  .u-section-1 .u-shape-6 {
    margin-right: auto;
    margin-left: -81px;
  }

  .u-section-1 .u-shape-7 {
    margin-top: 682px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-8 {
    margin-left: auto;
  }

  .u-section-1 .u-shape-9 {
    margin-top: -669px;
    margin-right: 280px;
  }

  .u-section-1 .u-shape-10 {
    margin-right: 269px;
  }

  .u-section-1 .u-shape-11 {
    margin-top: 790px;
    margin-right: 279px;
  }

  .u-section-1 .u-shape-12 {
    margin-top: -33px;
    margin-left: 302px;
  }

  .u-section-1 .u-shape-13 {
    width: 380px;
    margin-top: -792px;
    margin-right: auto;
    margin-left: -26px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    margin-top: -176px;
    margin-left: -11px;
    margin-right: -11px;
  }

  .u-section-1 .u-shape-14 {
    margin-top: 330px;
    margin-right: -273px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -370px;
    margin-right: 28px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
    margin-top: -145px;
  }

  .u-section-1 .u-shape-15 {
    margin-top: -261px;
    margin-right: -69px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-16 {
    margin-top: 981px;
  }

  .u-section-1 .u-shape-17 {
    margin-top: -442px;
    margin-right: -285px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-18 {
    margin-top: 301px;
  }

  .u-section-1 .u-shape-20 {
    margin-top: -479px;
  }

  .u-section-1 .u-shape-21 {
    margin-left: 279px;
  }

  .u-section-1 .u-shape-22 {
    margin-top: -61px;
  }

  .u-section-1 .u-shape-24 {
    margin-top: -157px;
    margin-left: 253px;
  }

  .u-section-1 .u-shape-25 {
    margin-top: -1268px;
  }

  .u-section-1 .u-shape-26 {
    margin-top: 496px;
    margin-right: 37px;
  }

  .u-section-1 .u-shape-27 {
    margin-right: 26px;
  }

  .u-section-1 .u-shape-28 {
    margin-top: 546px;
    margin-right: auto;
    margin-left: -64px;
  }

  .u-section-1 .u-shape-29 {
    margin-right: auto;
    margin-left: -80px;
  }

  .u-section-1 .u-shape-30 {
    margin-top: -61px;
    margin-right: auto;
    margin-left: -924px;
  }

  .u-section-1 .u-shape-31 {
    width: 440px;
    height: 229px;
    margin: 124px -50px -110px;
  }
}